body {
  font-family: "Fira Sans", sans-serif;
}
.bg-black {
  background-color: black;
}
.font-size {
  font-weight: 500;
  font-size: 33px;
}
.crismon {
  color: crimson;
}
.scrolImage {
  height: 600px;
}

.scrolImage {
  width: 100%;
  height: 700px;
}
.about-section p{
    font-size: 16px;line-height: 28px;
}
.costum-h3{
    font-size: 30px;

}
.modelimgsld{
    height: 266px;
    width: 317px;
    border-radius: 20px;
    
}

.imgbox{
    width: auto;
    height: 300px;
}

html{
  scroll-behavior: smooth;
}





@media only screen and (max-width: 340px){
  .modelimgsld {
    height: 267px;
    width: 257px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 360px){
  .modelimgsld {
  height: 267px;
  width: 257px;
  border-radius: 20px;
}
}
@media only screen and (max-width: 380px)and (min-width:361px) {
    .font-size {
      font-weight: 700;
      font-size: 27px;
    }
    .modelimgsld{
      height: 263px;
      width: 310px;
      border-radius: 20px;
  }
    .scrolImage {
      width: 100%;
      height: 477px;
    }
  }

  @media only screen and (max-width: 480px){
    .scrolImage {
        width: 100%;
        height: 477px;
      }
}
@media only screen and (max-width: 420px)and (min-width:381px){
  .modelimgsld{
      height: 270px;
      width: 350px;
      border-radius: 20px;
}
}
@media only screen and (max-width: 900px)and (min-width:800px){
    .modelimgsld{
        height: 300px;
        width: 283px;
        border-radius: 20px;
}
}
@media only screen and (max-width: 420px)and (min-width:381px){
  .modelimgsld{
      height: 270px;
      width: 350px;
      border-radius: 20px;
}
}
@media only screen and (max-width: 900px)and (min-width:800px){
    .modelimgsld{
        height: 300px;
        width: 283px;
        border-radius: 20px;
}
}

@media only screen and (max-width: 1000px)and (min-width:900px) {
    .scrolimage {
      height: auto;
    }
    .modelimgsld{
        height: 300px;
        width: 290px;
        border-radius: 20px;
}
  }
@media only screen and (min-width: 1000px)and (max-width: 1030px) {
  .scrolImage {
    width: 100%;
    height: 600px;
  }
  .modelimgsld{
    height: 300px;
    width: 290px;
    border-radius: 20px;
}
}




